/* General */
body {
  background-color: #232d4b;
  text-align: center;
}

h1 {
  color: #232d4b;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1.5em;
}

/* Top Menu */
#top-menu {
  font-family: 'Libre Franklin', sans-serif;
  padding: 0;
  text-align: center;
}
#top-menu li, #top-menu li a:visited {
  background-color: #e57200;
  color: #232d4b;
  display: inline-block;
  font-size: 2.5em;
}

#top-menu li a {
  color: #232d4b;
  padding: 0.1em 1em;
  text-decoration: none;
}

#top-menu li a:hover {
  background: #eb5f0c;
}

#top-menu li a:active {
  color: #dadada;
}
/* Index */
#title, #subtitle-one, #subtitle-two {
  font-family: 'Libre Franklin', sans-serif;
}

@keyframes title {
  0% {
    color: #e57200;
    font-size: 1em;
  }
  70% {
    font-size: 3.5em;
  }
  100% {
    color: #b43f22;
    font-size: 5em;
  }
}

@keyframes subtitle-one {
  0% {
    color: #b43f22;
    font-size: 0;
  }
  65% {
    font-size: 2em;
  }
}

@keyframes subtitle-two {
  0% {
    color: #b43f22;
    font-size: 0;
  }
  90% {
    font-size: 1.5em;
  }
}

#title {
  animation-direction: alternate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: title;
  margin: 3em 0 0;
}

#subtitle-one {
  animation-direction: alternate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: subtitle-one;
  animation-timing-function: step-end;
  margin: 0;
}

#subtitle-two {
  animation-direction: alternate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: subtitle-two;
  animation-timing-function: step-end;
  margin: 0;
}

/* Projects */
.div-projects {
  background-color: #e57200;
  display: inline-block;
  height: 20em;
  margin: 0.5em;
  width: 70em;
}

.div-projects h1, p {
  font-family: 'Libre Franklin', sans-serif;
}

.div-projects p {
  color: #dadada;
  margin: 1em 5em;
  text-align: justify;
}

.div-projects a:link, a:visited {
  color: #b43f22;
}

.div-projects a:active, a:hover {
  color: #dadada;
}


/* About */
.div-about {
  background-color: #e57200;
  display: inline-block;
  height: 10em;
  margin: 0.5em;
  width: 70em;
}

.div-about p {
  color: #dadada;
  font-family: 'Libre Franklin', sans-serif;
}

#iframe-resume {
  border: none;
  height: 80vh;
  width: 90%;
}

p.upcoming {
  color: #b43f22;
}

/* Contact */
.div-contact {
  background-color: #e57200;
  display: inline-block;
  height: 15em;
  margin: 0.5em;
  width: 70em;
}

.div-contact a {
  color: #b43f22;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 5em;
  text-decoration: none;
}
#div-github {
  float: left;
  margin-left: 5em;
}
#div-linkedin {
  float: right;
  margin-right: 5em;
}
