/* General */
body {
  background-color: #232d4b;
  text-align: center;
}

h1 {
  text-align: center;
}

/* Top Menu */
#top-menu {
  font-family: 'Libre Franklin', sans-serif;
  padding: 0;
  text-align: center;
}
#top-menu li, #top-menu li a:visited {
  background-color: #e57200;
  color: #232d4b;
  display: inline-block;
  font-size: 2.5em;
}

#top-menu li a {
  color: #232d4b;
  padding: 0.1em 1em;
  text-decoration: none;
}

#top-menu li a:hover {
  background: #eb5f0c;
}

#top-menu li a:active {
  color: #dadada;
}

/* Projects */
.div-projects {
  background-color: #e57200;
  display: inline-block;
  height: 20em;
  margin: 0.5em;
  width: 70em;
}

.div-projects h1, a, p {
  color: #b43f22;
  font-family: 'Libre Franklin', sans-serif;
}

.div-projects p {
  margin: 5em;
  text-align: justify;
}

/* About */
.div-about {
  background-color: #e57200;
  display: inline-block;
  height: 10em;
  margin: 0.5em;
  width: 70em;
}

.div-about h1 {
  color: #b43f22;
  font-family: 'Libre Franklin', sans-serif;
}

.div-about p {
  color: #b43f22;
  font-family: 'Libre Franklin', sans-serif;
}

p.upcoming {
  color: #fbb646;
}

/* Contact */
.div-contact {
  background-color: #e57200;
  display: inline-block;
  height: 15em;
  margin: 0.5em;
  width: 70em;
}

.div-contact h1 {
  color: #b43f22;
  font-family: 'Libre Franklin', sans-serif;
}

.div-contact a {
  color: #b43f22;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 5em;
  text-decoration: none;
}
#div-github {
  float: left;
  margin-left: 5em;
}
#div-linkedin {
  float: right;
  margin-right: 5em;
}
